<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Python Warrior</title>

	<link rel="stylesheet" href="css/styles.css">
</head>
<body ng-app="pythonWarrior">
	<header>
		<h1>Behold the Python Warrior</h1>
	</header>
	<div class="container" role="main" ng-controller="MainCtrl">
		<div class="scene">
			<div class="scene__layout">
				<img src="/images/Black-Knight-monty-python.jpg" alt="">
				<pre ng-hide="outputErr" class="output">{{output}}</pre>
				<pre ng-show="outputErr" class="output">{{outputErr}}</pre>
			</div>
			<div class="scene__message"></div>
		</div>
		<div class="controls grid">
			<div class="tips grid__item one-half">
				<h2>{{tipTitle}}</h2>
				<p>{{tipMessage}}</p>
				<pre>{{tipCode}}</pre>
			</div><!--
			--><div class="editor grid__item one-half">
				<button ng-hide="showContinue" ng-click="runCode()" class="button-blue">Run</button>
				<button ng-show="showContinue" ng-click="nextChallenge()" class="button-green">Continue</button>
				<div class="editor-wrapper">
					<div id="editor"># Write your code below\n</div>
				</div>
			</div>
		</div>
	</div>
	<footer>Copyright © 2014 - Javi Manzano</footer>

	<script src="bower_components/lodash/dist/lodash.min.js"></script>
	<script src="bower_components/jquery/jquery.min.js"></script>
	<script src="bower_components/skulpt/skulpt.min.js"></script>
	<script src="bower_components/ace/build/src/ace.js"></script>

	<script src="bower_components/angular/angular.js"></script>


	<script src="js/main.js"></script>
</body>
</html>